body {
	background-color: #F2DB2E;
}

#CreateMeal {
	width: 50%;
	max-width: 300px;
	margin: 20vh auto;
	border: 1px solid #FFF18E;
	border-radius: 4px;
	padding: 30px;
	background-color: #FFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

input::placeholder {
	color: #BBB;
}

button[type="submit"] {
	background-color: #FFF18E;
}