/* Planning to experiment with CSS Grid for layout */

@import 'normalize';
@import 'skeleton';
@import 'partials/vars';
  
* { box-sizing: border-box; }

body {
	background-color: $mp-yellow;
  color: $mp-brown;
}

h1,
h2 {
  font-size: 2rem;
  letter-spacing: 0;
  font-weight: 600;
}

main {
  max-width: 75rem;
  margin: 0 auto;
}

fieldset { margin: 0; }

.main-header {
  padding: 2rem 4rem;
  background-color: $mp-pale-yellow;
  box-shadow: $mp-box-shadow;

  h1 { margin-bottom: 0; }
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 0;
  border: 10px solid rgba($mp-pale-yellow, .7);
  padding: 2rem;
  margin: 2rem;
  border-radius: 4px;

  &.--no-border { border: none; }
}

.list {
  margin: 0;
  list-style: none;
  border-top: $mp-border-def;
  border-right: $mp-border-def;
  border-left: $mp-border-def;
  background-color: $mp-white;

  li { 
    display: flex;
    align-items: center;
    margin: 0;
    border-bottom: $mp-border-def;
    cursor: pointer;

    &:hover { 
      color: $mp-brown; 
      background-color: $mp-offwhite;
      border-bottom: 1px solid $mp-offwhite;
    }
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: $mp-black;

    &::before {
      content: " ";
      width: 1rem;
      height: 1rem;
      display: block;
      margin-right: 1rem;
      border-radius: 50%;
      background-color: $mp-pale-yellow;
    }
  }
}

.btn-wrapper { display: flex; }

.primary-btn { 
  margin-bottom: 0;
  background-color: $mp-pale-yellow;
  border-color: $mp-yellow;
  align-self: center;
  
  &:hover { border-color: $mp-offwhite; } 
}

.secondary-btn {
  width: 100%;

  &.--link {
    margin: 0;
    border: none;
    background-color: transparent;

    &:hover { text-decoration: underline; }
  }
}

.kill-item-btn {
  width: unset;
  margin: 0 2rem 0 0;
  padding: unset;
  border: none;
}
