/* Planning to experiment with CSS Grid for layout */

// All vars prefix with "mp-"
$mp-brown:        #4D3319;
$mp-pale-yellow:  #FFE680;
$mp-yellow:       #FFCC00;
$mp-black:        #211C09;

// should use a mixin or a function to adjust opacity here
$mp-box-shadow:   0 0 20px rgba(0, 0, 0, 0.3);

body {
	box-sizing: border-box;
	background-color: $mp-yellow;
  color: $mp-brown;
}

header {
  padding: 2rem 4rem;
  background-color: $mp-pale-yellow;
  box-shadow: $mp-box-shadow;
}

h1 {
  margin-bottom: 0;
  font-size: 2rem;
  letter-spacing: 0;
  font-weight: 600;
}

.meal-form {
	width: 50%;
	max-width: 30rem;
	margin: 10vh auto;
	border: 1px solid $mp-pale-yellow;
	padding: 3rem;
	background-color: #FFF;
	box-shadow: $mp-box-shadow;

  p {
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
}

.input-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3rem;

  input { 
    margin-bottom: 0.5rem; 

    &::placeholder { color: #BBB; }
  }

  &.text-input {
    label { 
      margin-right: 2rem; 
      font-weight: 500;
    }

    input { 
      width: 100%;
      margin-bottom: 0; 
    }
  }

  &.radio-input {
    border-bottom: 1px solid #D1D1D1;

    label { margin: 0 2rem 0 0; }
    div {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
    }

    div:nth-of-type(odd) { margin-right: 4rem; }
  }
}

.primary-btn { 
  margin-bottom: 0;
  background-color: $mp-pale-yellow; 
}