/* Planning to experiment with CSS Grid for layout */

// All vars prefix with "mp-"
$mp-brown:        #4D3319;
$mp-pale-yellow:  #FFE680;
$mp-yellow:       #FFCC00;
$mp-black:        #211C09;

// should use a mixin or a function to adjust opacity here
$mp-box-shadow:   0 0 20px rgba(0, 0, 0, 0.3);

body {
	box-sizing: border-box;
	background-color: $mp-yellow;
  color: $mp-brown;
}

header {
  padding: 2rem 4rem;
  border-bottom: 2px solid $mp-brown;
  background-color: $mp-pale-yellow;
  box-shadow: $mp-box-shadow;
}

h1 {
  margin-bottom: 0;
  font-size: 2rem;
  letter-spacing: 0;
  font-weight: 600;
}

input { 
  margin-bottom: 2rem; 
  
  &::placeholder { color: #BBB; }
}

.meal-form {
	width: 50%;
	max-width: 30rem;
	margin: 10vh auto;
	border: 1px solid $mp-pale-yellow;
	border-radius: 4px;
	padding: 3rem;
	background-color: #FFF;
	box-shadow: $mp-box-shadow;

  p {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
}

.input-block--text,
.input-block--radio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}

.input-block--radio {
  border-bottom: 1px solid #D1D1D1;

  div:first-of-type { margin-right: 4rem; }
}

.input-block--text {
  label { margin-right: 2rem; }
  input { margin-bottom: 0; }
}

.primary-btn { 
  margin-bottom: 0;
  background-color: $mp-pale-yellow; 
}